.body {

    overflow-x: hidden;
}

.navbox {
    position: fixed;
    background-color: #ffffff;

}

.mainImg {
    width: auto;
    height: 590px;
}



.navBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.icon {
    width: 30%;
    margin-left: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.navBar {
    /* margin-left: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    padding-left: 10%;
    text-decoration: none;
    font-size: 20px;
    font-family: 400;
    color: black;
    cursor: pointer;
}

.nav:hover {
    color: #548776;
    font-size: 21px;
    font-family: 500;
}

.header {
    padding: 10%;

}

.headerBox {
    background: #E6E8DD;
    border-radius: 20px;
    padding: 4%;
}

.headerTitle {
    font-size: 70px;
    line-height: 100%;
    /* margin-bottom: 12%; */
    font-weight: bold;
}

.p {
    margin-top: 8%;
    color: #7D7676;
    font-size: 20px;
    text-align: justify;

}

.btnBox {
    margin-top: 3%;
}

.inputDiv {
    width: 78%;
    height: 8%;
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 30px;
    margin-top: 8%;
    display: flex;
    align-items: center;

}

.input {
    width: 60%;
    height: 8%;
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 15px;
    margin: 2%;
}

.searchButton {
    width: 10%;
    height: 5%;
    margin-left: 18%;
    position: absolute;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #548776;
    color: #ffffff;
    font-weight: 400;
    transition: 0.5s;
    font-size: 16px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #548776dc;
    font-size: 17px;
    transition: 0.5s;
}

.btnBox {
    margin-top: 8%;
}

.moreButton {
    width: 30%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #548776;
    color: #ffffff;
    transition: 0.5s;
    font-size: 16px;
    cursor: pointer;
}

.moreButton:hover {
    width: 30%;
    height: 41px;
    background-color: #548776dc;
    color: #ffffff;
    transition: 0.5s;
    font-size: 17px;
}


.headerText {
    text-align: center;
    font-size: 40px;
}

.pText {
    text-align: center;
    color: #7D7676;
    font-size: 18px;
}

.bodyDiv {
    /* background:#7D7676; */
    /* padding: 5%; */
    margin-top: 5%;

}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainCircle {
    width: 80px;
    height: 80px;
    background-color: #E6E8DD;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.p1 {
    color: #7D7676;
    font-size: 18px;
}


.mainText {

    font-size: 40px;
    font-weight: bold;
}

.productbox {
    padding: 10%;
    margin-top: -7%;
}

.product {
    background: #EBF7F3;
    /* margin-top: -10%; */
}

.newp {
    font-size: 18px;
    font-weight: 400;
    color: #7D7676;

}

.menuButton {
    padding: 5px;
    border: none;
    outline: none;
    border: solid;
    border-radius: 15px;
    border-color: #548776;
    border-width: 1px;
    background-color: #ffffff;
    margin-bottom: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.menuButton:hover {
    background-color: #548776;
    color: #ffffff;
    transition: 0.5s;
}

.productBody {
    background-color: #ffffff;
    border-radius: 15px;
}

.img1 {
    width: 150px;
    margin-top: 10%;
    height: auto;
    margin-left: 20%;
}

.cartButton {
    width: 100%;
    border: none;
    outline: none;
    border: solid;
    border-radius: 15px;
    border-color: #548776;
    border-width: 1px;
    background-color: #ffffff;
    margin-bottom: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.cartButton:hover {
    background-color: #548776;
    color: #ffffff;
    transition: 0.5s;
}

.buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
}

.menuAllButton {
    background-color: #548776;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 100%;
    height: 7vh;
}

.headerBody {
    margin-top: -10%;
}

.nextButton {
    background-color: #ffffff;
    border: none;
    outline: none;
    border: solid;
    border-radius: 15px;
    border-color: #548776;
    border-width: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 568px) {
    .carousel .item {
        margin-inline: calc(var(--container-padding-horizontal) + 1px);
    }
}

.carousel .item:nth-child(1) {
    -webkit-animation-delay: calc(3.8571428571s * -1);
    animation-delay: calc(3.8571428571s * -1);
}

.carousel .item:nth-child(2) {
    -webkit-animation-delay: calc(3.8571428571s * 0);
    animation-delay: calc(3.8571428571s * 0);
}

.carousel .item:nth-child(3) {
    -webkit-animation-delay: calc(3.8571428571s * 1);
    animation-delay: calc(3.8571428571s * 1);
}

.carousel .item:nth-child(4) {
    -webkit-animation-delay: calc(3.8571428571s * 2);
    animation-delay: calc(3.8571428571s * 2);
}

.carousel .item:nth-child(5) {
    -webkit-animation-delay: calc(3.8571428571s * 3);
    animation-delay: calc(3.8571428571s * 3);
}

.carousel .item:nth-child(6) {
    -webkit-animation-delay: calc(3.8571428571s * 4);
    animation-delay: calc(3.8571428571s * 4);
}

.carousel .item:last-child {
    -webkit-animation-delay: calc(-3.8571428571s * 2);
    animation-delay: calc(-3.8571428571s * 2);
}

.carousel img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    /* height: 60%; */
}

.straBox {
    width: 50%;
    height: 8vh;
    /* height: 5vh; */
    /* background-color: #800000; */
}

.deshiBox {
    margin-top: -13%;
    margin-left: 20px;
}

.heartBox {
    padding: 8%;
    background: #ffff;
    border-radius: 12px;
}

.readButton {
    background: #548776;
    outline: none;
    border: none;
    color: #ffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 6vh;
    margin-top: 2%;
    transition: 0.5s;
    cursor: pointer;
}

.readButton:hover {
    background: #548776e3;
    width: 41%;
    height: 6vh
}

@media (max-width: 568px) {
    .bodyDiv {
        /* background:#7D7676; */
        /* padding: 5%; */
        margin-top: 3%;

    }

    .body {
        overflow-x: hidden;
    }
}

.imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5%;

}

.img {
    width: 80%;
    height: auto;
    border-radius: 30px;

}

.searchDiv {
    width: 40%;
    height: 8%;
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 10%;
}

.searchInput {
    width: 70%;
    height: 12%;
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    margin: 2%;
}

.signinButton {
    width: 24%;
    height: 12%;
    /* margin-left: 18%; */
    /* position: absolute; */
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #548776;
    color: #ffffff;
    font-weight: 400;
    transition: 0.5s;
    font-size: 16px;
    cursor: pointer;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signinButton:hover {
    background-color: #548776dc;
    font-size: 17px;
    transition: 0.5s;
}

.textBox {
    position: absolute;
    margin-top: -6%;

}

.textBox1 {
    position: absolute;
    /* margin-top: -6%; */

}

.footer {
    background: #E6E8DD;
    margin-top: 5%;
    border-radius: 10px;
    padding: 10%;
}

.p1 {
    margin-top: 1%;
    color: #7D7676;
    font-size: 17px;
    /* text-align: justify; */
}

.boxIcon {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.boxIcon:hover {
    background-color: #548776;
    color: #ffffff;
    transition: 0.5s;
}

.iconimg {
    width: 20px;
    height: auto;
}

.footerText {
    text-decoration: none;
    color: #7D7676;
}

.footerText:hover {
    color: #7D7676;
}

@media (max-width: 568px) {
    .body {
        overflow-x: hidden;
    }

    .header {
        padding: 10%;
        /* margin-top: 10%; */

    }

    .headerBox {
        /* background: #E6E8DD;
        border-radius: 20px; */
        padding: 3%;
    }

    .headerTitle {
        font-size: 50px;
        line-height: 100%;
        /* margin-bottom: 12%; */
        font-weight: bold;
    }

    .p {
        margin-top: 4%;
        color: #7D7676;
        font-size: 17px;
        text-align: justify;

    }

    .inputDiv {
        width: 100%;
        height: 10%;
        border: none;
        outline: none;
        background-color: #ffffff;
        border-radius: 30px;
        margin-top: 4%;
        display: flex;
        align-items: center;

    }

    .input {
        width: 60%;
        height: 8%;
        border: none;
        outline: none;
        background-color: #ffffff;
        border-radius: 30px;
        padding: 10px;
        margin: 1%;
    }

    .searchButton {
        width: 30%;
        height: 5%;
        margin-left: 48%;
        position: absolute;
        border-radius: 30px;
        border: none;
        outline: none;
        background-color: #548776;
        color: #ffffff;
        font-weight: 400;
        transition: 0.5s;
        font-size: 16px;
        cursor: pointer;
    }

    .searchButton:hover {
        background-color: #548776dc;
        font-size: 17px;
        transition: 0.5s;
    }

    .moreButton {
        width: 50%;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: #548776;
        color: #ffffff;
        transition: 0.5s;
        font-size: 16px;
        cursor: pointer;
    }

    .moreButton:hover {
        width: 51%;
        height: 41px;
        background-color: #548776dc;
        color: #ffffff;
        transition: 0.5s;
        font-size: 17px;
    }

    .bodyDiv {
        /* background:#7D7676; */
        /* padding: 5%; */
        margin-top: 10%;

    }

    .btnBox {
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .productbox {
        padding: 10%;
        margin-top: -5%;
    }

    .mainText {
        font-size: 30px;
        font-weight: bold;
    }

    .newp {
        font-size: 15px;
        font-weight: 400;
        color: #7D7676;

    }

    .menuButton {
        padding: 5px;
        border: none;
        outline: none;
        border: solid;
        border-radius: 15px;
        border-color: #548776;
        border-width: 1px;
        background-color: #ffffff;
        margin-bottom: 5px;
        transition: 0.5s;
        cursor: pointer;
    }

    .menuButton:hover {
        background-color: #548776;
        color: #ffffff;
        transition: 0.5s;
    }

    .img1 {
        width: 150px;
        margin-top: 10%;
        height: auto;
        margin-left: 20%;
    }
    .buttonBox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10%;
        margin-bottom: 5%;
    }
    
    .menuAllButton {
        background-color: #548776;
        color: #ffffff;
        border: none;
        outline: none;
        border-radius: 20px;
        width: 100%;
        height: 5vh;
   
    }

}